@import "tailwindcss";

/* Reset some default styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.orb {
  position: absolute;
  top: 5rem;
  left: 0rem;
  width: 10rem;
  height: 110rem;
  background: linear-gradient(to bottom right, #333, #fafafa);
  border-radius: 9999px;
  filter: blur(2rem);
  opacity: 0.3;
  animation: pulse 2s infinite;
  z-index: 0;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.5;
  }
}

.container {
  background: radial-gradient(circle at top right, #313131, #474747, #313131);

  border-radius: 16px;
  padding: 2.5rem;
  margin: 2rem auto;
  width: 90%;
  max-width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

  position: relative;
  overflow: hidden;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform;
}

.container:hover {
  transform: translateY(-5px) scale(1.005);
  box-shadow: 0 15px 35px rgba(140, 137, 137, 0.4);
}

nav {
  background-color: rgba(45, 45, 45, 0.8) !important;
  color: #6e6e6e;
  backdrop-filter: blur(8px);
  font-family: "Poppins", sans-serif;
  transition: box-shadow 0.3s ease;
}

nav:hover {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.1); /* soft white glow */
}

.sections {
  color: #a9e5ff !important;
}

/* Set base font and background */
body {
  position: relative;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background: linear-gradient(0.25turn, #313131, #545454, #313131);
  color: #333;
  padding: 20px;
}

/* Headings */

/* Name spotlight effect */
h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #989898;
  font-family: "Poppins", sans-serif;
}

h2,
h3 {
  margin-bottom: 1rem;
  font-weight: 500;
  color: #fff;
}

/* Paragraphs */
p {
  margin-bottom: 0.5rem;
  color: #fff !important;
}

a {
  color: #a0a0a0; /* subtle gray for base text */
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #969597 100%,
    #39393a 100%
  ); /* soft purple */
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 0% 2px;
  transition: background-size 0.3s ease, color 0.3s ease;
}

a:hover {
  color: #777679; /* lighter lavender on hover */
  background-size: 100% 2px;
}

/* Lists */
ul {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  color: #ffffff;
}

/* Buttons */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 1px;
}

button:hover {
  background-color: #0056b3;
}
